<section>
  <article>
    <h3>Support JPTV</h3>

    <p>
      Hey, all this is for free! But, I can't feed my self of wind; if you like
      this project, try to support it. JPTV is a one-man project made for
      someone how loves open source, as the open source project JPTV's you might
      want some extra features I'm always open to add for free, unless he bites
      the dust due to excessive diet...
    </p>
  </article>

  <article>
    <a href="https://github.com/AndresMpa/jptv">
      <figure>
        <img src="url" alt="Sponsor heart" />
        <figcaption>Help me to spice up this water</figcaption>
      </figure>
    </a>

    <a href="https://github.com/AndresMpa/jptv">
      <figure>
        <img src="url" alt="GitHub start" />
        <figcaption>Follow it to give me diet strength</figcaption>
      </figure>
    </a>
  </article>
</section>
